.mvn
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
aws-credentials.json
/aopalliance/
/asm/
/backport-util-concurrent/
/ch/
/classworlds/
/commons-beanutils/
/commons-cli/
/commons-codec/
/commons-collections/
/commons-configuration/
/commons-digester/
/commons-fileupload/
/commons-httpclient/
/commons-io/
/commons-lang/
/commons-logging/
/commons-validator/
/de/
/io/
/it/
/javax/
/joda-time/
/junit/
/net/
/org/
/oro/
/software/
/xerces/
/xml-apis/
